* {
    margin: 0;
    padding: 0;
}

.itemListContainer {
    border: 1px solid green;
    width: 20vw;
    height: auto;
    margin: auto;
    border-radius: 20px;
}

.itemImg {
    width: 25%;
    align-items: center;
    margin-left: 50px;
}

.itemTittle {
    font-size: 30px;
    text-align: center;
    color: black;
}

.itemSubtittle {    
    font-size: 20px;
    text-align: center;
    color: blue;

}

.itemPrice {
    font-size: 30px;
    text-align: center;
    color: green;
}

.itemCount {
    display: flex;
}